<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ve(); as veRef) {
      <div>
        <h2 data-cy="veDetailsHeading"><span>Vé</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ veRef.id }}</span>
          </dd>
          <dt><span>Mã Vé</span></dt>
          <dd>
            <span>{{ veRef.maVe }}</span>
          </dd>
          <dt><span>Giá Vé</span></dt>
          <dd>
            <span>{{ veRef.giaVe }}</span>
          </dd>
          <dt><span>Trạng Thái</span></dt>
          <dd>
            <span>{{ formatStatusLabel(veRef.trangThai) }}</span>
          </dd>
          <dt><span>Hóa Đơn</span></dt>
          <dd>
            @if (ve()!.hoaDon) {
              <div>
                <a [routerLink]="['/admin/hoa-don', ve()!.hoaDon?.id, 'view']">{{ veRef.hoaDon?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Suất Chiếu</span></dt>
          <dd>
            @if (ve()!.suatChieu) {
              <div>
                <a [routerLink]="['/admin/suat-chieu', ve()!.suatChieu?.id, 'view']">{{ veRef.suatChieu?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span> Quay lại </span>
        </button>

        <button type="button" [routerLink]="['/admin/ve', veRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span> Sửa </span>
        </button>
      </div>
    }
  </div>
</div>
